@media (min-width: 769px) {
  .character-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
  }

  .character-list {
    width: 330px;
    height: 530px;
    position: relative;
  }

  .btn-arrow {
    background-color: #ffffff;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .btn-arrow:hover {
    background-color: #8351fe;
  }

  .btn-arrow#btn-previous {
    transform: rotateY(180deg);
  }

  .card {
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
  }

  .card.selected {
    opacity: 1;
    z-index: 1;
  }
}
